<div class="photo">
    <header class="photo__header">
      <% if post.user.avatar.attached? %>
      <%= image_tag post.user.avatar.variant(combine_options: { resize: "150x150", background: 'black', extent: "150x150>", gravity: "center", crop: '150x150+0+0'}), class: "photo__avatar" %>
      <% else %>
      <%= image_tag 'blank-avatar.png', class: "photo__avatar" %>
      <% end %>
      <div class="photo__user-info">
        <span class="photo__author"><%= post.user.username %></span>
        <span class="photo__location">Bestechung</span>
      </div>
    </header>
    <%= image_tag post.image.variant(combine_options: { resize: "1080x1080", background: 'black', extent: "1080x1080>", gravity: "center", crop: '1080x1080+0+0'}) %>
    <div class="photo__info">
      <div class="photo__actions">
        <span class="photo__action">
          <i class="fa fa-heart-o fa-lg"></i>
        </span>
        <span class="photo__action">
          <i class="fa fa-comment-o fa-lg"></i>
        </span>
      </div>
      <span class="photo__likes">45 likes</span>
      <ul class="photo__comments">
        <li class="photo__comment">
          <span class="photo__comment-author"><%= post.user.username %></span> <%= post.description %>
        </li>
        <div id=<%= "comments#{post.id}" %>>
          <% post.comments.each do |comment| %>
          <!--<%#= render partial: "comments", locals: {post: post, comment: comment} %>-->
          <li class="photo__comment">
            <span class="photo__comment-author"><%= post.user.username %></span> <%= comment.description %>
          </li>
          <% end %>
        </div>
      </ul>
      <span class="photo__time-ago">2 hours ago</span>
      <div class="photo__add-comment-container">
        <%= form_for post.comments.build, html: {class: "teste", remote: true} do |f| %>
        <%= f.text_area :description, placeholder: "Add a comment...", class: "new-comment" %>
        <%= f.hidden_field :post_id %>
        <% end %>
        <i class="fa fa-ellipsis-h"></i>
      </div>
    </div>
  </div>